<!doctype html>

<title>Boggle</title>
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css" />
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/main.css" />

<main class="container">

  <!-- Header -->
  <div class="row">
    <div>
      <nav>
        <ul id="navigation">
          <li><span class="btn-nav" id="btn-new-game">New Game</span></li>
          <li><span class="btn-nav" id="btn-question">?</span></li>
          <li><img class="hide" id="btn-mario-qmark" src="images/mario-qmark.gif" /></li>
        </ul>
      </nav>
    </div>
  </div>

  <section id="game-container">

  <div class="center center-row">
    <div >
      <h1>&ltBoggle/&gt</h1>
    </div>
  </div>

  <!-- Game Board -->
  <div class="center row" >

    <div id="boggle-board" >
      <!-- Dice Template -->
      <script type='text/template' id='dice'>
        {{#each .}}
        <section class="dice-container">
          <div data-id="{{vertex}}" class="dice center">
            <span>{{toUpperCase value}}</span>
          </div>
        </section>
        {{/each}}
      </script>
    </div>
    <section id="cw-container">
      <div id="current-word">
        <span>Current Word:</span>
        <span id="current-word-value"></span>
      </div>
      <button type="submit" class="pure-button">SUBMIT WORD</button>
    </section>
    <!-- Score Board Template -->
    <script type="text/template" id="word-points">
      <div id="scoreboard-container">
        <table>
          <tr>
            <td class="title col-1">Word</td>
            <td class="title">Score</td>
          </tr>
          {{#each .}}
          <tr>
            <td class="col-1">{{word}}</td>
            <td>{{points}}</td>
          </tr>
          {{/each}}
          <tr>
            <td class="bottom-td col-1">Total:</td>
            <td id="total-points" class="bottom-td"></td>
          </tr>
        </table>
      </div>
    </script>
    <section id="score-board">
    </section>

  </section>

</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://builds.handlebarsjs.com.s3.amazonaws.com/handlebars-v2.0.0.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
